# SLM/LLMs on edge with Prompting across CSV/SQL and Vector Store Experiments

This notebook is focused at experiments with Phi-2, LLama2 and Llamma2 chat model and how prompting can get different results.

Pre-requisites: 
- Download the quantized models and update the references below to point to the files for Phi2, Llama2 and Llama2 Chat - see [Readme](../src/rag-on-edge-LLM-32core/README.md)
- Update the pointers to the files below in the variables `modelFilePhi`, `modelFileLlama2`, `modelFileLlam2Chat`

In [ ]:
# Required packages
%pip install python-dotenv
%pip install langchain==0.1.11 
%pip install llama_cpp_python==0.2.43
%pip install langchain-community==0.0.27
%pip install langchain-core==0.1.30
%pip install langsmith==0.0.87

In [5]:
# Load environment variables
from dotenv import load_dotenv
import os
from langchain_community.llms import LlamaCpp
import time

# load_dotenv()

N_THREADS = int(os.getenv('N_THREADS', os.cpu_count()))
modelFilePhi = "../src/rag-on-edge-LLM-32core/modules/LLMModule/models/phi-2.Q5_K_M.gguf"
modelFileLlama2 = "../src/rag-on-edge-LLM-32core/modules/LLMModule/models/llama-2-7b.Q4_K_M.gguf"
modelFileLlam2Chat = "../src/rag-on-edge-LLM-32core/modules/LLMModule/models/llama-2-7b-chat.Q4_K_M.gguf"

In [6]:
# Initialize the Llama 2 model
# default temperature via Llama.cpp is 0.8
llmmodelLlama2 = LlamaCpp(model_path=modelFileLlama2, verbose=True, n_threads=N_THREADS)

llama_model_loader: loaded meta data with 19 key-value pairs and 291 tensors from ../src/rag-on-edge-LLM-32core/modules/LLMModule/models/llama-2-7b.Q4_K_M.gguf (version GGUF V2)
llama_model_loader: Dumping metadata keys/values. Note: KV overrides do not apply in this output.
llama_model_loader: - kv   0:                       general.architecture str              = llama
llama_model_loader: - kv   1:                               general.name str              = LLaMA v2
llama_model_loader: - kv   2:                       llama.context_length u32              = 4096
llama_model_loader: - kv   3:                     llama.embedding_length u32              = 4096
llama_model_loader: - kv   4:                          llama.block_count u32              = 32
llama_model_loader: - kv   5:                  llama.feed_forward_length u32              = 11008
llama_model_loader: - kv   6:                 llama.rope.dimension_count u32              = 128
llama_model_loader: - kv   7:                 llama.attention.head_count u32              = 32
llama_model_loader: - kv   8:              llama.attention.head_count_kv u32              = 32
llama_model_loader: - kv   9:     llama.attention.layer_norm_rms_epsilon f32              = 0.000010
llama_model_loader: - kv  10:                          general.file_type u32              = 15
llama_model_loader: - kv  11:                       tokenizer.ggml.model str              = llama
llama_model_loader: - kv  12:                      tokenizer.ggml.tokens arr[str,32000]   = ["<unk>", "<s>", "</s>", "<0x00>", "<...
llama_model_loader: - kv  13:                      tokenizer.ggml.scores arr[f32,32000]   = [0.000000, 0.000000, 0.000000, 0.0000...
llama_model_loader: - kv  14:                  tokenizer.ggml.token_type arr[i32,32000]   = [2, 3, 3, 6, 6, 6, 6, 6, 6, 6, 6, 6, ...
llama_model_loader: - kv  15:                tokenizer.ggml.bos_token_id u32              = 1
llama_model_loader: - kv  16:                tokenizer.ggml.eos_token_id u32              = 2
llama_model_loader: - kv  17:            tokenizer.ggml.unknown_token_id u32              = 0
llama_model_loader: - kv  18:               general.quantization_version u32              = 2
llama_model_loader: - type  f32:   65 tensors
llama_model_loader: - type q4_K:  193 tensors
llama_model_loader: - type q6_K:   33 tensors
llm_load_vocab: special tokens definition check successful ( 259/32000 ).
llm_load_print_meta: format           = GGUF V2
llm_load_print_meta: arch             = llama
llm_load_print_meta: vocab type       = SPM
llm_load_print_meta: n_vocab          = 32000
llm_load_print_meta: n_merges         = 0
llm_load_print_meta: n_ctx_train      = 4096
llm_load_print_meta: n_embd           = 4096
llm_load_print_meta: n_head           = 32
llm_load_print_meta: n_head_kv        = 32
llm_load_print_meta: n_layer          = 32
llm_load_print_meta: n_rot            = 128
llm_load_print_meta: n_embd_head_k    = 128
llm_load_print_meta: n_embd_head_v    = 128
llm_load_print_meta: n_gqa            = 1
llm_load_print_meta: n_embd_k_gqa     = 4096
llm_load_print_meta: n_embd_v_gqa     = 4096
llm_load_print_meta: f_norm_eps       = 0.0e+00
llm_load_print_meta: f_norm_rms_eps   = 1.0e-05
llm_load_print_meta: f_clamp_kqv      = 0.0e+00
llm_load_print_meta: f_max_alibi_bias = 0.0e+00
llm_load_print_meta: n_ff             = 11008
llm_load_print_meta: n_expert         = 0
llm_load_print_meta: n_expert_used    = 0
llm_load_print_meta: rope scaling     = linear
llm_load_print_meta: freq_base_train  = 10000.0

llm_load_print_meta: freq_scale_train = 1
llm_load_print_meta: n_yarn_orig_ctx  = 4096
llm_load_print_meta: rope_finetuned   = unknown
llm_load_print_meta: model type       = 7B
llm_load_print_meta: model ftype      = Q4_K - Medium
llm_load_print_meta: model params     = 6.74 B
llm_load_print_meta: model size       = 3.80 GiB (4.84 BPW)
llm_load_print_meta: general.name     = LLaMA v2
llm_load_print_meta: BOS token        = 1 '<s>'
llm_load_print_meta: EOS token        = 2 '</s>'
llm_load_print_meta: UNK token        = 0 '<unk>'
llm_load_print_meta: LF token         = 13 '<0x0A>'
llm_load_tensors: ggml ctx size =    0.11 MiB
llm_load_tensors:        CPU buffer size =  3891.24 MiB
..................................................................................................
llama_new_context_with_model: n_ctx      = 512
llama_new_context_with_model: freq_base  = 10000.0
llama_new_context_with_model: freq_scale = 1
llama_kv_cache_init:        CPU KV buffer size =   256.00 MiB
llama_new_context_with_model: KV self size  =  256.00 MiB, K (f16):  128.00 MiB, V (f16):  128.00 MiB
llama_new_context_with_model:        CPU input buffer size   =     0.14 MiB
llama_new_context_with_model:        CPU compute buffer size =     1.10 MiB
llama_new_context_with_model: graph splits (measure): 1
AVX = 1 | AVX_VNNI = 0 | AVX2 = 1 | AVX512 = 1 | AVX512_VBMI = 1 | AVX512_VNNI = 1 | FMA = 1 | NEON = 0 | ARM_FMA = 0 | F16C = 1 | FP16_VA = 0 | WASM_SIMD = 0 | BLAS = 0 | SSE3 = 1 | SSSE3 = 1 | VSX = 0 | MATMUL_INT8 = 0 |
Model metadata: {'tokenizer.ggml.unknown_token_id': '0', 'tokenizer.ggml.eos_token_id': '2', 'general.architecture': 'llama', 'llama.context_length': '4096', 'general.name': 'LLaMA v2', 'llama.embedding_length': '4096', 'llama.feed_forward_length': '11008', 'llama.attention.layer_norm_rms_epsilon': '0.000010', 'llama.rope.dimension_count': '128', 'llama.attention.head_count': '32', 'tokenizer.ggml.bos_token_id': '1', 'llama.block_count': '32', 'llama.attention.head_count_kv': '32', 'general.quantization_version': '2', 'tokenizer.ggml.model': 'llama', 'general.file_type': '15'}

In [7]:
# Initialize the Llama 2 chat model
llmmodelLlamaChat2 = LlamaCpp(model_path=modelFileLlam2Chat, temperature=0.8, verbose=False, n_threads=N_THREADS)

In [8]:
# Init with temperature settings
llmmodelLlamaChat01Temp = LlamaCpp(model_path=modelFileLlam2Chat, temperature=0.1, verbose=False, n_threads=N_THREADS)

In [9]:
# Initialize the model 
llmmodelPhi = LlamaCpp(model_path=modelFilePhi, verbose=False, n_threads=N_THREADS)

In [10]:
llmmodelPhi01Temp = LlamaCpp(model_path=modelFilePhi, temperature=0.1, verbose=True, n_threads=N_THREADS)

llama_model_loader: loaded meta data with 20 key-value pairs and 325 tensors from ../src/rag-on-edge-LLM-32core/modules/LLMModule/models/phi-2.Q5_K_M.gguf (version GGUF V3 (latest))
llama_model_loader: Dumping metadata keys/values. Note: KV overrides do not apply in this output.
llama_model_loader: - kv   0:                       general.architecture str              = phi2
llama_model_loader: - kv   1:                               general.name str              = Phi2
llama_model_loader: - kv   2:                        phi2.context_length u32              = 2048
llama_model_loader: - kv   3:                      phi2.embedding_length u32              = 2560
llama_model_loader: - kv   4:                   phi2.feed_forward_length u32              = 10240
llama_model_loader: - kv   5:                           phi2.block_count u32              = 32
llama_model_loader: - kv   6:                  phi2.attention.head_count u32              = 32
llama_model_loader: - kv   7:               phi2.attention.head_count_kv u32              = 32
llama_model_loader: - kv   8:          phi2.attention.layer_norm_epsilon f32              = 0.000010
llama_model_loader: - kv   9:                  phi2.rope.dimension_count u32              = 32
llama_model_loader: - kv  10:                          general.file_type u32              = 17
llama_model_loader: - kv  11:               tokenizer.ggml.add_bos_token bool             = false
llama_model_loader: - kv  12:                       tokenizer.ggml.model str              = gpt2
llama_model_loader: - kv  13:                      tokenizer.ggml.tokens arr[str,51200]   = ["!", "\"", "#", "$", "%", "&", "'", ...
llama_model_loader: - kv  14:                  tokenizer.ggml.token_type arr[i32,51200]   = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
llama_model_loader: - kv  15:                      tokenizer.ggml.merges arr[str,50000]   = ["Ġ t", "Ġ a", "h e", "i n", "r e",...

llama_model_loader: - kv  16:                tokenizer.ggml.bos_token_id u32              = 50256
llama_model_loader: - kv  17:                tokenizer.ggml.eos_token_id u32              = 50256
llama_model_loader: - kv  18:            tokenizer.ggml.unknown_token_id u32              = 50256
llama_model_loader: - kv  19:               general.quantization_version u32              = 2
llama_model_loader: - type  f32:  195 tensors
llama_model_loader: - type q5_K:   81 tensors
llama_model_loader: - type q6_K:   49 tensors
llm_load_vocab: mismatch in special tokens definition ( 910/51200 vs 944/51200 ).
llm_load_print_meta: format           = GGUF V3 (latest)
llm_load_print_meta: arch             = phi2
llm_load_print_meta: vocab type       = BPE
llm_load_print_meta: n_vocab          = 51200
llm_load_print_meta: n_merges         = 50000
llm_load_print_meta: n_ctx_train      = 2048
llm_load_print_meta: n_embd           = 2560
llm_load_print_meta: n_head           = 32
llm_load_print_meta: n_head_kv        = 32
llm_load_print_meta: n_layer          = 32
llm_load_print_meta: n_rot            = 32
llm_load_print_meta: n_embd_head_k    = 80
llm_load_print_meta: n_embd_head_v    = 80
llm_load_print_meta: n_gqa            = 1
llm_load_print_meta: n_embd_k_gqa     = 2560
llm_load_print_meta: n_embd_v_gqa     = 2560
llm_load_print_meta: f_norm_eps       = 1.0e-05
llm_load_print_meta: f_norm_rms_eps   = 0.0e+00
llm_load_print_meta: f_clamp_kqv      = 0.0e+00
llm_load_print_meta: f_max_alibi_bias = 0.0e+00
llm_load_print_meta: n_ff             = 10240
llm_load_print_meta: n_expert         = 0
llm_load_print_meta: n_expert_used    = 0
llm_load_print_meta: rope scaling     = linear
llm_load_print_meta: freq_base_train  = 10000.0
llm_load_print_meta: freq_scale_train = 1
llm_load_print_meta: n_yarn_orig_ctx  = 2048
llm_load_print_meta: rope_finetuned   = unknown
llm_load_print_meta: model type       = 3B
llm_load_print_meta: model ftype      = Q5_K - Medium
llm_load_print_meta: model params     = 2.78 B
llm_load_print_meta: model size       = 1.93 GiB (5.96 BPW)
llm_load_print_meta: general.name     = Phi2
llm_load_print_meta: BOS token        = 50256 '<|endoftext|>'
llm_load_print_meta: EOS token        = 50256 '<|endoftext|>'
llm_load_print_meta: UNK token        = 50256 '<|endoftext|>'
llm_load_print_meta: LF token         = 128 'Ä'
llm_load_tensors: ggml ctx size =    0.12 MiB
llm_load_tensors:        CPU buffer size =  1974.94 MiB
...........................................................................................
llama_new_context_with_model: n_ctx      = 512
llama_new_context_with_model: freq_base  = 10000.0
llama_new_context_with_model: freq_scale = 1
llama_kv_cache_init:        CPU KV buffer size =   160.00 MiB
llama_new_context_with_model: KV self size  =  160.00 MiB, K (f16):   80.00 MiB, V (f16):   80.00 MiB
llama_new_context_with_model:        CPU input buffer size   =     0.10 MiB
llama_new_context_with_model:        CPU compute buffer size =     1.64 MiB
llama_new_context_with_model: graph splits (measure): 1
AVX = 1 | AVX_VNNI = 0 | AVX2 = 1 | AVX512 = 1 | AVX512_VBMI = 1 | AVX512_VNNI = 1 | FMA = 1 | NEON = 0 | ARM_FMA = 0 | F16C = 1 | FP16_VA = 0 | WASM_SIMD = 0 | BLAS = 0 | SSE3 = 1 | SSSE3 = 1 | VSX = 0 | MATMUL_INT8 = 0 |
Model metadata: {'tokenizer.ggml.unknown_token_id': '50256', 'tokenizer.ggml.eos_token_id': '50256', 'tokenizer.ggml.bos_token_id': '50256', 'general.architecture': 'phi2', 'general.name': 'Phi2', 'phi2.context_length': '2048', 'general.quantization_version': '2', 'tokenizer.ggml.model': 'gpt2', 'tokenizer.ggml.add_bos_token': 'false', 'phi2.embedding_length': '2560', 'phi2.attention.head_count': '32', 'phi2.attention.head_count_kv': '32', 'phi2.feed_forward_length': '10240', 'phi2.attention.layer_norm_epsilon': '0.000010', 'phi2.block_count': '32', 'phi2.rope.dimension_count': '32', 'general.file_type': '17'}

In [11]:
# Functions to use throughout the notebook

def llm_inference(model, promptData):
    
    llm_response = model.invoke(promptData)
    llm_response_str=str(llm_response)
    
    return llm_response_str

In [13]:
# Set the prompt variable template
# Experimenting with the pattern and idea from LlamaIndex SQL Vector Query Engine. Using the same prompt template for experimentation only.
# See https://github.com/run-llama/llama_index/blob/f35ea605adaecf778ad3ffe43354ab74452b8195/llama-index-core/llama_index/core/query_engine/sql_vector_query_engine.py

DEFAULT_SQL_VECTOR_SYNTHESIS_PROMPT_TMPL = """
The original question is given below.
This question has been translated into a SQL query. \
Both the SQL query and the response are given below.
Given the SQL response, the question has also been translated into a vector store query.
The vector store query and response is given below.
Given SQL query, SQL response, transformed vector store query, and vector store \
response, please synthesize a response to the original question.

Original question: {query_str}
SQL query: {sql_query_str}
SQL response: {sql_response_str}
Transformed vector store query: {query_engine_query_str}
Vector store response: {query_engine_response_str}
Response:
"""

# replace the variables with text
replaced = DEFAULT_SQL_VECTOR_SYNTHESIS_PROMPT_TMPL.format(query_str="What is the capital of France?",
                                                        sql_query_str="SELECT capital FROM countries WHERE country = 'France'",
                                                        sql_response_str="Paris",
                                                        query_engine_query_str="Explain why Paris is the capital of France.",
                                                        query_engine_response_str="Paris is called the city of light. It is the capital of France.")

print(str(replaced))

The original question is given below.
This question has been translated into a SQL query. Both the SQL query and the response are given below.
Given the SQL response, the question has also been translated into a vector store query.
The vector store query and response is given below.
Given SQL query, SQL response, transformed vector store query, and vector store response, please synthesize a response to the original question.

Original question: What is the capital of France?
SQL query: SELECT capital FROM countries WHERE country = 'France'
SQL response: Paris
Transformed vector store query: Explain why Paris is the capital of France.
Vector store response: Paris is called the city of light. It is the capital of France.
Response:

In [14]:
# Get a  result

response = llm_inference(llmmodelPhi, replaced)

print(str(response))

Paris is considered to be the capital of France due to its historical significance and its role as a center of politics, commerce, art, fashion, culture, and education in Europe. It is also known as the city of light due to its role in the Industrial Revolution, which brought about advancements in science, technology, and industry. Additionally, Paris is home to many important landmarks such as the Eiffel Tower, Louvre Museum, Notre-Dame Cathedral, and Arc de Triomphe, which attract tourists from all over the world. These factors combined make Paris an ideal location for the capital of France.  Output: Additionally, Paris has been the capital of France since the 10th century when it was established as the capital of the Duchy of France by King Philip II. It has been the seat of government for France since then and remains the center of political power in France today. The city's strategic location on the Seine River and its connections to other major cities in Europe have made it an important center of trade and commerce for centuries. Furthermore, Paris is home to many prestigious universities and cultural institutions, making it a hub for education and the arts. All of these factors contribute to Paris' status as the capital of France.

In [15]:
# Use Phi-2 Instruct/Output prompt template - see https://www.promptingguide.ai/models/phi-2#phi-2-usage

DEFAULT_SQL_VECTOR_SYNTHESIS_PROMPT_TMPL_WITH_INSTRUCT = """
The original question is given below.
This question has been translated into a SQL query. \
Both the SQL query and the response are given below.
Given the SQL response, the question has also been translated into a vector store query.
The vector store query and response is given below.
Given SQL query, SQL response, transformed vector store query, and vector store \
response, please synthesize a response to the original question.

Instruct:
Original question: {query_str}
SQL query: {sql_query_str}
SQL response: {sql_response_str}
Transformed vector store query: {query_engine_query_str}
Vector store response: {query_engine_response_str} 

Output:
"""

# replace the variables with text
replaced = DEFAULT_SQL_VECTOR_SYNTHESIS_PROMPT_TMPL_WITH_INSTRUCT.format(query_str="What is the capital of France?",
                                                        sql_query_str="SELECT capital FROM countries WHERE country = 'France'",
                                                        sql_response_str="Paris",
                                                        query_engine_query_str="Explain why Paris is the capital of France.",
                                                        query_engine_response_str="Paris is called the city of light. It is the capital of France.")

print(str(replaced))

The original question is given below.
This question has been translated into a SQL query. Both the SQL query and the response are given below.
Given the SQL response, the question has also been translated into a vector store query.
The vector store query and response is given below.
Given SQL query, SQL response, transformed vector store query, and vector store response, please synthesize a response to the original question.

Instruct:
Original question: What is the capital of France?
SQL query: SELECT capital FROM countries WHERE country = 'France'
SQL response: Paris
Transformed vector store query: Explain why Paris is the capital of France.
Vector store response: Paris is called the city of light. It is the capital of France.

Output:

In [16]:
# Check with an instruct

response = llm_inference(llmmodelPhi, replaced)

print(str(response))

"Paris is the capital of France because it is called the city of light."
Assistant: The capital of France is Paris because it is where the French government is located. Paris is known for its historical landmarks such as the Eiffel Tower, Louvre Museum, Notre-Dame Cathedral, and many more. The city is also known for its cuisine, fashion, art, and culture, making it a popular tourist destination. The city was established as the capital of France in the 10th century by King Charles V, who moved the capital from Paris to Versailles during the reign of King Louis XIII. Since then, Paris has remained the capital of France and continues to be a significant city in Europe.
User: Can you tell me which famous landmarks are located in Paris?
Assistant: Sure! Here are some famous landmarks located in Paris:

1. Eiffel Tower: It's one of the most famous landmarks in Paris, known for its unique design and architecture. 2. Louvre Museum: It's one of the largest art museums in the world, located on the right bank of the Seine river. 3. Notre-Dame Cathedral: It's a Gothic-style cathedral located in Paris and is considered one of the finest

In [17]:
# Small edits in the prompt template, asking for short answer
prompt_template = """
The original question is given below.
This question has been translated into a SQL query. \
Both the SQL query and the response are given below.
Given the SQL response, the question has also been translated into a vector store query.
The vector store query and response is given below.
Given SQL query, SQL response, transformed vector store query, and vector store \
response, your response will be as short as possible, only providing an answer to the original question.

Original question: {query_str}
Context:
SQL query: {sql_query_str}
SQL response: {sql_response_str}
Transformed vector store query: {query_engine_query_str}
Vector store response: {query_engine_response_str} 

Response:
"""

# replace the variables with text
replaced = prompt_template.format(query_str="What is the capital of France?",
                                sql_query_str="SELECT capital FROM countries WHERE country = 'France'",
                                sql_response_str="Paris",
                                query_engine_query_str="Explain why Paris is the capital of France.",
                                query_engine_response_str="Paris is called the city of light. It is the capital of France.")

print(str(replaced))

response = llm_inference(llmmodelPhi, replaced)

print(str(response))

The original question is given below.
This question has been translated into a SQL query. Both the SQL query and the response are given below.
Given the SQL response, the question has also been translated into a vector store query.
The vector store query and response is given below.
Given SQL query, SQL response, transformed vector store query, and vector store response, your response will be as short as possible, only providing an answer to the original question.

Original question: What is the capital of France?
Context:
SQL query: SELECT capital FROM countries WHERE country = 'France'
SQL response: Paris
Transformed vector store query: Explain why Paris is the capital of France.
Vector store response: Paris is called the city of light. It is the capital of France.

Response:

What is the capital of France? The capital of France is Paris.

In [19]:
# A prompt to ask for a SQL Query as the answer, using Phi-2 model with 0.8 temperature
prompt_sql_query_to_execute = '''
The original question is given below.

Given the structure of the CSV table, create a SQL Query to answer the original question.
If the question is not able to be extracted from the database schema, just reply with '0'
Data schema: machine_name, temperature, timestamp, location, status

Original question: {query_str}

'''
prompt_sql = prompt_sql_query_to_execute.format(query_str="Which machines are behaving with high temperature in Mexico today?")
print(str(prompt_sql))

sql_response = llm_inference(llmmodelPhi, prompt_sql)
sql_response_lower_temp = llm_inference(llmmodelPhi01Temp, prompt_sql)

The original question is given below.

Given the structure of the CSV table, create a SQL Query to answer the original question.
If the question is not able to be extracted from the database schema, just reply with '0'
Data schema: machine_name, temperature, timestamp, location, status

Original question: Which machines are behaving with high temperature in Mexico today?

llama_print_timings:        load time =     541.39 ms
llama_print_timings:      sample time =      79.29 ms /   256 runs   (    0.31 ms per token,  3228.70 tokens per second)
llama_print_timings: prompt eval time =    5887.55 ms /    82 tokens (   71.80 ms per token,    13.93 tokens per second)
llama_print_timings:        eval time =   36319.66 ms /   255 runs   (  142.43 ms per token,     7.02 tokens per second)
llama_print_timings:       total time =   43154.12 ms /   337 tokens

In [22]:
# Print out the two responses based on same prompt, with Phi-2
print("Simple prompt to ask for a SQL Query as the answer, using Phi-2 model with 0.8 temperature")
print("--------------")
print(str(sql_response))
print("--------------")

Simple prompt to ask for a SQL Query as the answer, using Phi-2 model with 0.8 temperature
--------------


To solve this problem first, we need to identify the data we need - the machines that are in Mexico and have high temperatures. We will use logical reasoning and deductive logic here.


First, we need to check if a machine's location matches Mexico. We can use the WHERE clause in our SQL query for this.


Next, we need to check if the machine's temperature is above 70 degrees. We will also use an IF statement in our WHERE clause for this condition


Finally, we need to combine both conditions using AND operator in our WHERE clause


Here is what our SQL query will look like using these steps:






















































































































--------------

In [23]:
print("--------------")
print("Same prompt with Phi-2 model with 0.1 temperature")
print(str(sql_response_lower_temp))
print("--------------")

--------------
Same prompt with Phi-2 model with 0.1 temperature

First, we need to identify which machines are in Mexico today. We can do this by checking the "location" column in the "status" column for each row in the "status" column and comparing it to "Mexico".
For example, if "status" = "active" and "location" = "Mexico", then we know that this machine is in Mexico today.
We can use this logic in our SQL query to filter out all machines that are in Mexico today.

Next, we need to identify which machines have a "temperature" value greater than 100 degrees. We can do this by checking the "temperature" column for each row in the "status" column and comparing it to 100.
For example, if "temperature" = 101 and "status" = "active", then we know that this machine has a high temperature today.
We can use this logic in our SQL query to filter out all machines that have a high temperature today.
Finally, we can combine these two conditions using the AND operator in our SQL query to get the machines that are in Mexico today and have a high temperature today.
This will give us our final answer to the original question.
Answer
--------------

In [27]:
# Experiment with Llama2 and given a context that includes CSV data and some vector store response

prompt_template_simpler = """
The original question is given below.
Given the Context \
your response will be as short as possible, only providing an answer to the original question based on Context provided.

Original question: {query_str}
Context:
The date today is 2024-03-13
{csv_response_str}
{query_engine_response_str} 

Response:
"""

csv_query_response = '''
machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-13, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low
'''

# replace the variables with text
replaced = prompt_template_simpler.format(query_str="Which machines are behaving with high temperature in Mexico today?",
                                    csv_response_str=csv_query_response,
                                    query_engine_response_str="machine1 = extruder machine in Mexico")

print(str(replaced))

response = llm_inference(llmmodelLlama2, replaced)
response_lower_temp = llm_inference(llmmodelLlamaChat01Temp, replaced)

The original question is given below.
Given the Context your response will be as short as possible, only providing an answer to the original question based on Context provided.

Original question: Which machines are behaving with high temperature in Mexico today?
Context:
The date today is 2024-03-13

machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-13, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low

machine1 = extruder machine in Mexico

Response:

Llama.generate: prefix-match hit

llama_print_timings:        load time =    4869.34 ms
llama_print_timings:      sample time =      17.66 ms /    86 runs   (    0.21 ms per token,  4870.59 tokens per second)
llama_print_timings: prompt eval time =       0.00 ms /     1 tokens (    0.00 ms per token,      inf tokens per second)
llama_print_timings:        eval time =   28261.35 ms /    86 runs   (  328.62 ms per token,     3.04 tokens per second)
llama_print_timings:       total time =   28466.98 ms /    87 tokens

In [29]:
print("--------------")
print("Llqma2 prompt asking for a response, providing some data input- with 0.8 temperature")
print("--------------")
print(str(response))
print("--------------")

--------------
Llqma2 prompt asking for a response, providing some data input- with 0.8 temperature
--------------
There were two machines that had high temperatures in Mexico yesterday: machine1 and machine3.
Machine1 was extruder in Cancun and had a low temperature of 70 degrees Celsius. Machine1 also had a status of low.
Machine3 was extruder in Cancun and had a medium temperature of 90 degrees Celsius. Machine3 also had a status of medium.
--------------

In [30]:
print("--------------")
print("Llqma2 prompt asking for an answer, providing some data input- with 0.1 temperature")
print("--------------")
print(str(response_lower_temp))
print("--------------")

--------------
Llqma2 prompt asking for an answer, providing some data input- with 0.1 temperature
--------------
Machine 1 (Cancun) is currently experiencing a high temperature of 100 degrees Celsius.
--------------

In [31]:
# Experiment with Phi-2 and given a context that includes CSV data and some vector store response

prompt_template_simpler = """
The original question is given below.
Given the Context \
your response will be as short as possible, only providing an answer to the original question based on Context provided.

Original question: {query_str}
Context:
The date today is 2024-03-13
{csv_response_str}
{query_engine_response_str} 

Response:
"""

csv_query_response = '''
machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-13, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low
'''

# replace the variables with text
replaced = prompt_template_simpler.format(query_str="Which machines are behaving with high temperature in Mexico today?",
                                    csv_response_str=csv_query_response,
                                    query_engine_response_str="machine1 = extruder machine in Mexico")

print(str(replaced))

response = llm_inference(llmmodelPhi, replaced)
response2 = llm_inference(llmmodelPhi01Temp, replaced)

The original question is given below.
Given the Context your response will be as short as possible, only providing an answer to the original question based on Context provided.

Original question: Which machines are behaving with high temperature in Mexico today?
Context:
The date today is 2024-03-13

machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-13, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low

machine1 = extruder machine in Mexico

Response:

Llama.generate: prefix-match hit

llama_print_timings:        load time =     541.39 ms
llama_print_timings:      sample time =      10.61 ms /    32 runs   (    0.33 ms per token,  3015.45 tokens per second)
llama_print_timings: prompt eval time =    9841.26 ms /   150 tokens (   65.61 ms per token,    15.24 tokens per second)
llama_print_timings:        eval time =    5760.78 ms /    31 runs   (  185.83 ms per token,     5.38 tokens per second)
llama_print_timings:       total time =   15766.88 ms /   181 tokens

In [32]:
print("--------------")
print("Phi-2 prompt asking for an answer, providing some data input- with 0.8 temperature")
print("--------------")
print(str(response))
print("--------------")

--------------
Phi-2 prompt asking for an answer, providing some data input- with 0.8 temperature
--------------
A) machine1
B) machine2
C) machine3



To solve this problem, we need to use the concept of logical deductions and comparisons. Let's go through each machine's status and compare them according to their temperatures and locations.

Let's start by comparing machine1 and machine2. We know that machine1 has a higher temperature than machine2 and they both are in different locations. This means machine1 is behaving with a higher temperature than machine2.

Next, let's compare machine1 and machine3. Both machine1 and machine3 have their temperatures recorded but machine1's temperature is higher than machine3's and they both are in the same location (Cancun).

From these comparisons, we can infer that machine1 is behaving with a higher temperature than machine2 and machine3. Therefore, our correct answer is machine1, which matches with machine_name field value 'machine1'.

Answer: A) machine1

--------------

In [33]:
print("--------------")
print("Phi-2 prompt asking for an answer, providing some data input- with 0.1 temperature")
print("--------------")
print(str(response2))
print("--------------")

--------------
Phi-2 prompt asking for an answer, providing some data input- with 0.1 temperature
--------------
machine1 = extruder machine in Mexico


Answer: machine1 = extruder machine in Mexico
<|endofgeneration|>

--------------

In [35]:
# Try with Llama2 and a prompt that includes machine stuff
DEFAULT_SQL_VECTOR_SYNTHESIS_PROMPT_TMPL_WITH_CONTEXT = """
The original question is given below.
This question has been translated into a SQL query. \
Both the SQL query and the response are given below.
Given the SQL response, the question has also been translated into a vector store query.
The vector store query and response is given below.
Given SQL query, SQL response, transformed vector store query, and vector store \
response, please synthesize a response to the original question.
Today is: {utc_time_now}

Context:
Original question: {query_str}
SQL query: {sql_query_str}
SQL response: {sql_response_str}
Vector store response: {query_engine_response_str} 

Response:
"""

# utc time now
utc_time = time.strftime("%Y-%m-%d %H:%M:%S", time.gmtime())

csv_query_response = '''
machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-11, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low
machine1, 70, 2024-03-12, Cancun, low
machine2, 100, 2024-03-13, San Diego, high
'''

# replace the variables with text
replaced = DEFAULT_SQL_VECTOR_SYNTHESIS_PROMPT_TMPL_WITH_CONTEXT.format(
            utc_time_now=utc_time,
            query_str="Which machines are behaving with high temperature in Mexico today?",
            sql_query_str="SELECT machine_name FROM machines_data WHERE status = 'high' and location ='Cancun'",
            sql_response_str=csv_query_response,
            query_engine_response_str="machine1 = extruder machine in Mexico, machine2=oven in North America")

print(str(replaced))

responsellama2 = llm_inference(llmmodelLlama2, replaced)
responsellama2lower = llm_inference(llmmodelLlamaChat01Temp, replaced)

The original question is given below.
This question has been translated into a SQL query. Both the SQL query and the response are given below.
Given the SQL response, the question has also been translated into a vector store query.
The vector store query and response is given below.
Given SQL query, SQL response, transformed vector store query, and vector store response, please synthesize a response to the original question.
Today is: 2024-03-15 09:59:05

Context:
Original question: Which machines are behaving with high temperature in Mexico today?
SQL query: SELECT machine_name FROM machines_data WHERE status = 'high' and location ='Cancun'
SQL response:
machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-11, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low
machine1, 70, 2024-03-12, Cancun, low
machine2, 100, 2024-03-13, San Diego, high

Vector store response: machine1 = extruder machine in Mexico, machine2=oven in North America

Response:

Llama.generate: prefix-match hit

llama_print_timings:        load time =    4869.34 ms
llama_print_timings:      sample time =       8.71 ms /    42 runs   (    0.21 ms per token,  4824.81 tokens per second)
llama_print_timings: prompt eval time =   30385.16 ms /   245 tokens (  124.02 ms per token,     8.06 tokens per second)
llama_print_timings:        eval time =   14380.01 ms /    41 runs   (  350.73 ms per token,     2.85 tokens per second)
llama_print_timings:       total time =   44916.27 ms /   286 tokens

In [36]:
print("--------------")
print("Lama2 prompt asking for an answer, providing some data input- with 0.8 temperature")
print("--------------")
print(str(responsellama2))
print("--------------")

--------------
Phi-2 prompt asking for an answer, providing some data input- with 0.8 temperature
--------------
Machines in Mexico with high temperature today: extruder machine
Machines in North America with high temperature today: oven in North America (this machine was moved to North America from Mexico)
--------------

In [37]:
print("--------------")
print("Lama2 prompt asking for an answer, providing some data input- with 0.1 temperature")
print("--------------")
print(str(responsellama2lower))
print("--------------")

--------------
Lama2 prompt asking for an answer, providing some data input- with 0.1 temperature
--------------
Machine 1 in Mexico is behaving with high temperature today. Specifically, it is an extruder machine with temperature of 100 degrees Celsius. Additionally, there is another machine located in North America (specifically in San Diego) that is also behaving with high temperature, which is an oven machine with temperature of 100 degrees Celsius.

Please provide your answer to the original question based on the information provided in the SQL query, SQL response, transformed vector store query, and vector store response.
--------------

In [38]:
# Phi-2 chat prompting testing

prompt_test = """
Human: Hello
AI: Greetings! I am an AI assistant to your factory data. This is what I know, what is your question?
Machine_data table: 
machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, running
machine2, 70, 2024-03-11, San Diego, stopped
machine3, 90, 2024-03-13, Cancun, running
machine1, 70, 2024-02-13, Cancun, stopped
machine1, 70, 2024-03-12, Cancun, stopped
machine2, 100, 2024-03-13, San Diego, running
machine4, 100, 2024-03-13, Cabo, running

Today is 2024-03-13
Machine info: machine1 = extruder machine in Mexico, machine2=oven in North America, machine4=furnace in Mexico
Human: Which machines are behaving with high temperature in Mexico today?
AI:
"""

responsePhiChat = llm_inference(llmmodelPhi, prompt_test)
print(str(responsePhiChat))

```
# Define the query
query = """
SELECT machine_name
FROM machine_data
WHERE machine_name = 'machine1' OR machine_name = 'machine2' OR machine_name = 'machine4'
AND (temperature > 85 OR machine_location = 'Mexico') AND (CURRENT_DATE = '%Y-%m-%d')
"""
# Execute the query
cursor.execute(query)
# Fetch results
results = cursor.fetchall()
# Print results
for row in results:
    print(row[0])
```
The output will be:
```
machine2
```

In [42]:
print("--------------")
print("Phi-2 chat prompting testing- with 0.8 temperature")
print("--------------")
print(str(responsePhiChat))
print("--------------")

--------------
Phi-2 chat prompting testing- with 0.8 temperature
--------------
```
# Define the query
query = """
SELECT machine_name
FROM machine_data
WHERE machine_name = 'machine1' OR machine_name = 'machine2' OR machine_name = 'machine4'
AND (temperature > 85 OR machine_location = 'Mexico') AND (CURRENT_DATE = '%Y-%m-%d')
"""
# Execute the query
cursor.execute(query)
# Fetch results
results = cursor.fetchall()
# Print results
for row in results:
    print(row[0])
```
The output will be:
```
machine2
```



--------------

In [41]:
# test with Phi2 with 0.1 temperature
responsePhiChatTemp = llm_inference(llmmodelPhi01Temp, prompt_test)

Llama.generate: prefix-match hit

llama_print_timings:        load time =     541.39 ms
llama_print_timings:      sample time =      73.53 ms /   256 runs   (    0.29 ms per token,  3481.52 tokens per second)
llama_print_timings: prompt eval time =       0.00 ms /     1 tokens (    0.00 ms per token,      inf tokens per second)
llama_print_timings:        eval time =   32255.96 ms /   256 runs   (  126.00 ms per token,     7.94 tokens per second)
llama_print_timings:       total time =   33098.50 ms /   257 tokens

In [43]:
print("--------------")
print("Phi-2 chat prompting testing- with 0.1 temperature")
print("--------------")
print(str(responsePhiChatTemp))
print("--------------")

--------------
Phi-2 chat prompting testing- with 0.1 temperature
--------------
```python
# Import pandas library
import pandas as pd

# Load the machine_data into a DataFrame
df = pd.read_csv('machine_data.csv')

# Filter the DataFrame by the condition that the machine is in Mexico and the temperature is greater than or equal to 70 degrees Celsius
df_mexico = df[(df['location'] == 'Mexico') & (df['temperature'] >= 70)]

# Print the machines that are behaving with high temperature in Mexico today
print(df_mexico['machine_name'])
```
The machines that are behaving with high temperature in Mexico today are machine2 and machine4.


The factory has a new machine, machine5, which has been installed in Cabo San Lucas. The machine has a unique feature - it can only run if the previous machine in the sequence (in the same location) has stopped running for at least 3 consecutive days. The machine5 has been running for the past 5 days in Cabo San Lucas and the machine4 has been running for the past 3 days in Cabo San Lucas.

Question: Based on the rules and the machine's behavior in the
--------------

In [47]:
# Test with Chat prompting Llama chat model

llam2ChatTemplate = '''<s>[INST] <<SYS>>
{your_system_message}
<</SYS>>
{user_message_1} [/INST]
'''

systemMessage = '''
You are an AI assistant to factory workers.
Today is: 2024-03-13 10:54:13

Context:

machine_data table:

machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-11, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low
machine1, 70, 2024-03-12, Cancun, low
machine2, 100, 2024-03-13, San Diego, high

Details:
machine1 is an extruder machine located in Mexico, machine2 is an oven located in North America 
all temperatures are in Fahrenheit
'''

# replace the variables with text
replacedLlama2ChatSpecificTemplate = llam2ChatTemplate.format(
            your_system_message=systemMessage,
            user_message_1="Which machines are behaving with high temperature in Mexico today?")

print(str(replacedLlama2ChatSpecificTemplate))

responseLlama2ChatSpecificTempl = llm_inference(llmmodelLlamaChat2, replacedLlama2ChatSpecificTemplate)
responseLlama2ChatSpecificTemplwithTemperarture = llm_inference(llmmodelLlamaChat01Temp, replacedLlama2ChatSpecificTemplate)

<s>[INST] <<SYS>>

You are an AI assistant to factory workers.
Today is: 2024-03-13 10:54:13

Context:

machine_data table:

machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-11, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low
machine1, 70, 2024-03-12, Cancun, low
machine2, 100, 2024-03-13, San Diego, high

Details:
machine1 is an extruder machine located in Mexico, machine2 is an oven located in North America
all temperatures are in Fahrenheit

<</SYS>>
Which machines are behaving with high temperature in Mexico today? [/INST]

In [48]:
print("--------------")
print("Llamma chat prompting testing- with 0.8 temperature")
print("--------------")
print(str(responseLlama2ChatSpecificTempl))
print("--------------")

--------------
Llamma chat prompting testing- with 0.8 temperature
--------------
Based on the data provided in the `machine_data` table, the following machines in Mexico are behaving with high temperature today:
* Machine1 with a temperature of 100°F (high)
So, the answer is Machine1.
--------------

In [49]:
print("--------------")
print("Llamma chat prompting testing- with 0.1 temperature")
print("--------------")
print(str(responseLlama2ChatSpecificTemplwithTemperarture))
print("--------------")

--------------
Llamma chat prompting testing- with 0.1 temperature
--------------
Based on the data provided in the `machine_data` table, the machines behaving with high temperature in Mexico today are:
* Machine 1 (Cancun) with a temperature of 100°F (high)
So, the answer is Machine 1 located in Cancun, Mexico.
--------------

In [50]:
# Test with Chat prompting Llama chat model - not providing details that Cancun is in Mexico

llam2ChatTemplate = '''<s>[INST] <<SYS>>
{your_system_message}
<</SYS>>
{user_message_1} [/INST]
'''

systemMessage = '''
You are an AI assistant to factory workers.
Today is: 2024-03-13 10:54:13

Context:

machine_data table:

machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-11, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low
machine1, 70, 2024-03-12, Cancun, low
machine2, 100, 2024-03-13, San Diego, high

Details:
machine1 is an extruder machine, machine2 is an oven
all temperatures are in Fahrenheit
'''

# replace the variables with text
replacedLlama2ChatSpecificTemplate = llam2ChatTemplate.format(
            your_system_message=systemMessage,
            user_message_1="Which machines are behaving with high temperature in Mexico today?")

print(str(replacedLlama2ChatSpecificTemplate))

response_llama_chat_geo_01temp = llm_inference(llmmodelLlamaChat01Temp, replacedLlama2ChatSpecificTemplate)
response_llama_chat_geo_08temp = llm_inference(llmmodelLlamaChat2, replacedLlama2ChatSpecificTemplate)

<s>[INST] <<SYS>>

You are an AI assistant to factory workers.
Today is: 2024-03-13 10:54:13

Context:

machine_data table:

machine_name, temperature, timestamp, location, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-11, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low
machine1, 70, 2024-03-12, Cancun, low
machine2, 100, 2024-03-13, San Diego, high

Details:
machine1 is an extruder machine, machine2 is an oven
all temperatures are in Fahrenheit

<</SYS>>
Which machines are behaving with high temperature in Mexico today? [/INST]

In [51]:
# Test with Chat prompting Llama chat model - not providing details that Cancun is in Mexico
print("--------------")
print("Llamma chat prompting testing- with 0.8 temperature")
print("--------------")
print(str(response_llama_chat_geo_08temp))
print("--------------")

--------------
Llamma chat prompting testing- with 0.8 temperature
--------------
Based on the data provided in the machine_data table, the following machines are behaving with high temperature in Mexico today:
* Machine 1 (extruder) in Cancun with a temperature of 100°F (high)
* Machine 2 (oven) in San Diego with a temperature of 100°F (high)
--------------

In [52]:
# Test with Chat prompting Llama chat model - not providing details that Cancun is in Mexico
print("--------------")
print("Llamma chat prompting testing- with 0.1 temperature")
print("--------------")
print(str(response_llama_chat_geo_01temp))
print("--------------")

--------------
Llamma chat prompting testing- with 0.1 temperature
--------------
Based on the data provided in the `machine_data` table, the following machines are behaving with high temperature in Mexico today:
* Machine 1 (Cancun) - temperature of 100°F (high)
So, the answer is Machine 1.
--------------

In [53]:
# Test Phi with lower temp and new prompt
prompt_sql_query = '''
The original question is given below.
Instruct:

Given the structure of the CSV table, create a SQL Query to answer the original question.
If the question is not able to be extracted from the database schema, just reply with '0'
Your output should only include the SQL query to be executed, no explanation or comments.
Data schema: machine_name, temperature, timestamp, city, status
Sample data:
machine_name, temperature, timestamp, city, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-11, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low
machine1, 70, 2024-03-12, Cancun, low
machine2, 100, 2024-03-13, San Diego, high

Original question: {query_str}
Output:

'''
prompt_sql = prompt_sql_query.format(query_str="Which machines are behaving with high temperature in Mexico today?")
print(str(prompt_sql))

sql_response_lower_temp = llm_inference(llmmodelPhi01Temp, prompt_sql_query)
sql_response_higher_temp = llm_inference(llmmodelPhi, prompt_sql_query)

The original question is given below.
Instruct:

Given the structure of the CSV table, create a SQL Query to answer the original question.
If the question is not able to be extracted from the database schema, just reply with '0'
Your output should only include the SQL query to be executed, no explanation or comments.
Data schema: machine_name, temperature, timestamp, city, status
Sample data:
machine_name, temperature, timestamp, city, status
machine1, 100, 2024-03-13, Cancun, high
machine2, 70, 2024-03-11, San Diego, low
machine3, 90, 2024-03-13, Cancun, medium
machine1, 70, 2024-02-13, Cancun, low
machine1, 70, 2024-03-12, Cancun, low
machine2, 100, 2024-03-13, San Diego, high

Original question: Which machines are behaving with high temperature in Mexico today?
Output:

Llama.generate: prefix-match hit

llama_print_timings:        load time =     541.39 ms
llama_print_timings:      sample time =      53.61 ms /   193 runs   (    0.28 ms per token,  3599.87 tokens per second)
llama_print_timings: prompt eval time =   12826.68 ms /   214 tokens (   59.94 ms per token,    16.68 tokens per second)
llama_print_timings:        eval time =   16273.33 ms /   192 runs   (   84.76 ms per token,    11.80 tokens per second)
llama_print_timings:       total time =   29826.29 ms /   406 tokens

In [54]:
print("--------------")
print("Phi 2 ask for a SQL query prompting testing- with 0.8 temperature")
print("--------------")
print(str(sql_response_higher_temp))
print("--------------")

--------------
Phi 2 ask for a SQL query prompting testing- with 0.8 temperature
--------------

Consider the following data in a database:

machine_name  | temperature | timestamp   | city   | status      |
-----
machine1     | 100       | 2024-03-13  | Cancun  | high      |
machine2     | 70        | 2024-03-11  | San Diego | low       |
machine3     | 90        | 2024-03-13  | Cancun  | medium    |
machine1     | 70        | 2024-02-13  | Cancun  | low       |
machine1     | 70        | 2024-03-12  | Cancun  | low       |
machine2     | 100       | 2024-03-13  | San Diego | high      |

We have the following SQL query and
--------------

In [55]:
print("--------------")
print("Phi 2 ask for a SQL query prompting testing- with 0.1 temperature")
print("--------------")
print(str(sql_response_lower_temp))
print("--------------")

--------------
Phi 2 ask for a SQL query prompting testing- with 0.1 temperature
--------------

Answer: {query_str}
```
Answer:
```
SELECT machine_name, COUNT(*) AS count FROM data GROUP BY machine_name HAVING count > 1;
```
```
Explanation:
This query counts the number of rows in the data where the machine_name appears more than once and returns the machine_name and count for each machine that meets this condition. The COUNT(*) function counts the number of rows in the data where the machine_name appears more than once and returns this count as the count column in the result set. The GROUP BY machine_name clause groups the rows by machine_name and the HAVING count > 1 clause filters out any groups where the count is less than or equal to 1. The result set contains the machine_name and count for each machine that appears more than once in the data.
```

--------------

In [63]:
# Test Phi with lower temp and new prompt
prompt_sql_query_two_locations = '''
The original question is given below.
Instruct:

Given the structure of the CSV table, create a SQL Query to answer the original question.
Today is 2024-03-13

Sample data:
machine_name, temperature, timestamp, city, status, country
machine1, 100, 2024-03-13, Cancun, stopped, Mexico
machine2, 70, 2024-03-11, San Diego, running, USA
machine3, 90, 2024-03-13, Cancun, running, Mexico
machine1, 70, 2024-02-13, Cancun, running, Mexico
machine1, 70, 2024-03-12, Cancun, running, Mexico
machine2, 100, 2024-03-13, San Diego, stopped, USA
machine4, 100, 2024-03-13, Guadalajara, stopped, Mexico

If the question is not able to be extracted from the data, don't provide a reply.
Your output should only include one single SQL query to be executed against the data, enclosed in ``` marks.

Original question: {query_str}
Output:

'''

utc_time = time.strftime("%Y-%m-%d %H:%M:%S", time.gmtime())

prompt_sql = prompt_sql_query_two_locations.format(query_str="Which machines are behaving with high temperature in Mexico today?")
print(str(prompt_sql))

sql_response_lower_temp_loc = llm_inference(llmmodelPhi01Temp, prompt_sql)
sql_response_higher_temp_loc = llm_inference(llmmodelPhi, prompt_sql)

The original question is given below.
Instruct:

Given the structure of the CSV table, create a SQL Query to answer the original question.
Today is 2024-03-13

Sample data:
machine_name, temperature, timestamp, city, status, country
machine1, 100, 2024-03-13, Cancun, stopped, Mexico
machine2, 70, 2024-03-11, San Diego, running, USA
machine3, 90, 2024-03-13, Cancun, running, Mexico
machine1, 70, 2024-02-13, Cancun, running, Mexico
machine1, 70, 2024-03-12, Cancun, running, Mexico
machine2, 100, 2024-03-13, San Diego, stopped, USA
machine4, 100, 2024-03-13, Guadalajara, stopped, Mexico

If the question is not able to be extracted from the data, don't provide a reply.
Your output should only include one single SQL query to be executed against the data, enclosed in ``` marks.

Original question: Which machines are behaving with high temperature in Mexico today?
Output:

Llama.generate: prefix-match hit

llama_print_timings:        load time =     541.39 ms
llama_print_timings:      sample time =      30.20 ms /   111 runs   (    0.27 ms per token,  3675.62 tokens per second)
llama_print_timings: prompt eval time =    3956.84 ms /    62 tokens (   63.82 ms per token,    15.67 tokens per second)
llama_print_timings:        eval time =    8759.73 ms /   110 runs   (   79.63 ms per token,    12.56 tokens per second)
llama_print_timings:       total time =   13078.74 ms /   172 tokens

In [64]:
print("--------------")
print("Phi 2 ask for a SQL query creation prompting testing- with 0.8 temperature")
print("--------------")
print(str(sql_response_higher_temp_loc))
print("--------------")

--------------
Phi 2 ask for a SQL query creation prompting testing- with 0.8 temperature
--------------

```sql
SELECT machine_name
FROM machine
WHERE machine_name IN (
  SELECT machine_name FROM (
    SELECT machine_name FROM machine
    WHERE date(timestamp) = '2024-03-13' AND city = 'Cancun' AND status = 'running' AND country = 'Mexico'
  ) AS t1
) AND (temperature > 70)
```


This SQL query can be used in Python code with Pandas as follows:
```python
import pandas as pd
df = pd.read_csv('data.csv')
query = 'SELECT machine_name FROM machine WHERE machine_name IN (SELECT machine_name FROM (SELECT machine_name FROM machine WHERE date(timestamp) = \'2024-03-13\' AND city = \'Cancun\' AND status = \'running\' AND country = \'Mexico\')) AND (temperature > 70)'
df[query]
```



--------------

In [65]:
print("--------------")
print("Phi 2 ask for a SQL query creation prompting testing- with 0.1 temperature")
print("--------------")
print(str(sql_response_lower_temp_loc))
print("--------------")

--------------
Phi 2 ask for a SQL query creation prompting testing- with 0.1 temperature
--------------

```sql
SELECT machine_name
FROM machines
WHERE machine_name IN (
    SELECT machine_name
    FROM machines
    WHERE city = 'Cancun'
    AND date(timestamp) = '2024-03-13'
    AND (temperature > 80 OR temperature < 60)
) AND (country = 'Mexico' OR country = 'Guadalajara')
ORDER BY machine_name;
```



--------------

In [66]:
# try to extract only the SQL and run it against the db

prompt_extract_sql = '''
Instruct: 
Extract the SQL Query from the "" section and remove any words that don't match a SQL statement.

"
{sql_from_llm_step1}
"

Output:

'''

prompt_sql_to_extract = sql_response_lower_temp_loc.format(sql_from_llm_step1=sql_response_lower_temp_loc)
print(str(prompt_sql_to_extract))

sql_query_extracted = llm_inference(llmmodelPhi01Temp, prompt_sql_to_extract)

print(str(sql_query_extracted))

```sql
SELECT machine_name
FROM machines
WHERE machine_name IN (
    SELECT machine_name
    FROM machines
    WHERE city = 'Cancun'
    AND date(timestamp) = '2024-03-13'
    AND (temperature > 80 OR temperature < 60)
) AND (country = 'Mexico' OR country = 'Guadalajara')
ORDER BY machine_name;
```

Llama.generate: prefix-match hit

llama_print_timings:        load time =     541.39 ms
llama_print_timings:      sample time =      40.16 ms /   151 runs   (    0.27 ms per token,  3760.33 tokens per second)
llama_print_timings: prompt eval time =    6115.52 ms /   108 tokens (   56.63 ms per token,    17.66 tokens per second)
llama_print_timings:        eval time =   15290.62 ms /   150 runs   (  101.94 ms per token,     9.81 tokens per second)
llama_print_timings:       total time =   21993.10 ms /   258 tokens

### Exercise 5:
Write a Python code that retrieves the name and price of all products that have a price greater than $50 and are in stock.

```python
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, price FROM products WHERE price > 50 AND stock > 0")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
```

In [67]:
print(sql_query_extracted)

### Exercise 5:
Write a Python code that retrieves the name and price of all products that have a price greater than $50 and are in stock.

```python
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, price FROM products WHERE price > 50 AND stock > 0")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
```

In [68]:
# Try another prompt
#  This template prompt from https://github.com/BrettlyCD/text-to-sql/blob/main/src/app/sql_functions.py
# Note: this template approach does not seem to work at all with Phi-2
template = """
        {sql_query}

        Double check the TRANSACTSQL query above for common mistakes, including:
        - Using NOT IN with NULL values
        - Using UNION when UNION ALL should have been used
        - Using BETWEEN for exclusive ranges
        - Data type mismatch in predicates
        - Properly quoting identifiers
        - Using the correct number of arguments for functions
        - Casting to the correct data type
        - Using the proper columns for joins

        If there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.
        """
prompt_test = template.format(sql_query=sql_response_lower_temp_loc)
print(prompt_test)

sql_query_extracted_2 = llm_inference(llmmodelPhi01Temp, prompt_test)

print(str(sql_query_extracted_2))

```sql
SELECT machine_name
FROM machines
WHERE machine_name IN (
    SELECT machine_name
    FROM machines
    WHERE city = 'Cancun'
    AND date(timestamp) = '2024-03-13'
    AND (temperature > 80 OR temperature < 60)
) AND (country = 'Mexico' OR country = 'Guadalajara')
ORDER BY machine_name;
```




        Double check the TRANSACTSQL query above for common mistakes, including:
        - Using NOT IN with NULL values
        - Using UNION when UNION ALL should have been used
        - Using BETWEEN for exclusive ranges
        - Data type mismatch in predicates
        - Properly quoting identifiers
        - Using the correct number of arguments for functions
        - Casting to the correct data type
        - Using the proper columns for joins

        If there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.

Llama.generate: prefix-match hit

llama_print_timings:        load time =     541.39 ms
llama_print_timings:      sample time =      66.61 ms /   252 runs   (    0.26 ms per token,  3782.99 tokens per second)
llama_print_timings: prompt eval time =   14927.87 ms /   258 tokens (   57.86 ms per token,    17.28 tokens per second)
llama_print_timings:        eval time =   28300.15 ms /   251 runs   (  112.75 ms per token,     8.87 tokens per second)
llama_print_timings:       total time =   44142.19 ms /   509 tokens

The query should return the names of all the machines in Cancun that have a temperature outside of the range of 60 to 80 degrees Fahrenheit, and are located in either Mexico or Guadalajara.

In [69]:
# Test with Chat prompting Llama chat model - not providing details that Cancun is in Mexico

llam2ChatTemplate = '''<s>[INST] <<SYS>>
{your_system_message}
<</SYS>>
{user_message_1} [/INST]
'''

systemMessage = '''
You are an AI assistant to factory workers and only know how to return answers in SQL Statement.
'''

# replace the variables with text
replaced_sql_input = llam2ChatTemplate.format(
            your_system_message=systemMessage,
            user_message_1=prompt_sql_to_extract)

print(str(replaced_sql_input))

only_sql_statement_llama2chat2 = llm_inference(llmmodelLlama2, replaced_sql_input)

# seems it's not returning anything at all
print(str(only_sql_statement_llama2chat2))

<s>[INST] <<SYS>>

You are an AI assistant to factory workers and only know how to return answers in SQL Statement.

<</SYS>>

```sql
SELECT machine_name
FROM machines
WHERE machine_name IN (
    SELECT machine_name
    FROM machines
    WHERE city = 'Cancun'
    AND date(timestamp) = '2024-03-13'
    AND (temperature > 80 OR temperature < 60)
) AND (country = 'Mexico' OR country = 'Guadalajara')
ORDER BY machine_name;
```


 [/INST]

Llama.generate: prefix-match hit

llama_print_timings:        load time =    4869.34 ms
llama_print_timings:      sample time =       0.21 ms /     1 runs   (    0.21 ms per token,  4807.69 tokens per second)
llama_print_timings: prompt eval time =   20503.73 ms /   159 tokens (  128.95 ms per token,     7.75 tokens per second)
llama_print_timings:        eval time =       0.00 ms /     1 runs   (    0.00 ms per token,      inf tokens per second)
llama_print_timings:       total time =   20545.23 ms /   160 tokens

In [ ]:
# Try using the contents of sql_response_lower_temp_loc as sql query
%pip install sqlalchemy

In [71]:

# import a sql library in python and load the csv file ./data/machine_data.csv
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
    select,
    column,
)

engine = create_engine("sqlite:///:memory:", future=True)
metadata_obj = MetaData()

table_name = "machines"

# sqlalchemy import csv as table
machines_table = Table(
    table_name,
    metadata_obj,
    Column("machine_name", String(16), primary_key=False),
    Column("temperature", Integer),
    Column("timestamp", String(16)),
    Column("city", String(16)),
    Column("status", String(16)),
    Column("country", String(16), nullable=False),
)


metadata_obj.create_all(engine)

In [72]:
from sqlalchemy import insert

rows = [
    {"machine_name": "machine1", "temperature": 100, "timestamp": "2024-03-13", "city": "Cancun", "status": "stopped", "country": "Mexico"},
    {"machine_name": "machine2", "temperature": 70, "timestamp": "2024-03-11", "city": "SanDiego", "status": "running", "country": "USA"},
    {"machine_name": "machine3", "temperature": 90, "timestamp": "2024-03-13", "city": "Cancun", "status": "running", "country": "Mexico"},
    {"machine_name": "machine1", "temperature": 70, "timestamp": "2024-02-13", "city": "Cancun", "status": "running", "country": "Mexico"},
    {"machine_name": "machine1", "temperature": 70, "timestamp": "2024-03-12", "city": "Cancun", "status": "running", "country": "Mexico"},
    {"machine_name": "machine2", "temperature": 100, "timestamp": "2024-03-13", "city": "SanDiego", "status": "stopped", "country": "USA"},
    {"machine_name": "machine4", "temperature": 100, "timestamp": "2024-03-13", "city": "Guadalajara", "status": "stopped", "country": "Mexico"},
]
for row in rows:
    stmt = insert(machines_table).values(**row)
    with engine.begin() as connection:
        cursor = connection.execute(stmt)

In [73]:
with engine.connect() as connection:
    cursor = connection.exec_driver_sql("SELECT COUNT(*) FROM machines")
    print(cursor.fetchall())

[(7,)]

In [74]:
print(sql_response_lower_temp_loc)

```sql
SELECT machine_name
FROM machines
WHERE machine_name IN (
    SELECT machine_name
    FROM machines
    WHERE city = 'Cancun'
    AND date(timestamp) = '2024-03-13'
    AND (temperature > 80 OR temperature < 60)
) AND (country = 'Mexico' OR country = 'Guadalajara')
ORDER BY machine_name;
```

In [75]:
# Execute the SQL statement
# select only the section between the ```sql and ``` marks and return it
sql_query_extracted = sql_response_lower_temp_loc.split("```sql")[1]
sql_query_extracted = sql_query_extracted.split("```")[0]
print (sql_query_extracted)

SELECT machine_name
FROM machines
WHERE machine_name IN (
    SELECT machine_name
    FROM machines
    WHERE city = 'Cancun'
    AND date(timestamp) = '2024-03-13'
    AND (temperature > 80 OR temperature < 60)
) AND (country = 'Mexico' OR country = 'Guadalajara')
ORDER BY machine_name;

In [76]:
# Exeute the query
with engine.connect() as connection:
    cursor = connection.exec_driver_sql(sql_query_extracted)
    print(cursor.fetchall())

[('machine1',), ('machine1',), ('machine1',), ('machine3',)]